body{

font-family:Arial;
text-align:center;
background:#e9edf2;

}

.box{

background:white;
padding:30px;
width:300px;
margin:auto;
border-radius:10px;

}

.menu a{

display:block;
width:250px;
margin:15px auto;
padding:15px;
background:#007bff;
color:white;
text-decoration:none;
border-radius:5px;

}

.menu a:hover{

background:#0048a8;

}

ul{

list-style:none;

}

li{

margin:10px;

}

input,select{

width:200px;
padding:5px;

}
