body{
font-family: Arial;
background:#f2f6ff;
margin:0;
padding:20px;
}

.title{
text-align:center;
margin-bottom:40px;
}

.main-container{
display:flex;
gap:40px;
justify-content:center;
}

.section{
background:white;
padding:20px;
width:400px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.15);
}

.floor{
margin-bottom:20px;
}

.floor h3{
color:#003366;
margin-bottom:10px;
}

a{
display:block;
padding:6px;
text-decoration:none;
color:#007bff;
}

a:hover{
color:#ff6600;
}
.form-box{
background:white;
width:350px;
margin:auto;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px gray;
text-align:left;
}

input, select{
width:100%;
padding:8px;
margin-top:5px;
}
